body {
  background-image: url(cloud.jpg);
  font-family: "Playfair Display", serif;
  height: 100%;
  margin: -10px;
}

.header {
  font-size: 25px;
  background-image: url(search.jpg);
  color: white;
  width: auto;
  padding: 5px;
  text-align: center;
}

#searchTxt {
  font-size: 18px;
}

#searchBtn {
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}
#searchBtn.hover {
  color: white;
  background-color: black;
}

.searchResults {
  margin-top: 40px;
  color: white;
  width: auto;
  display: block;
  /* background-image: url(search.jpg); */
}

#title {
  text-align: center;
}

.info {
  margin: 8px;
}

#tempResult {
  color: black;
  font-size: 20px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-image: url(search.jpg);
  color: white;
}

.footerInfo {
  font-size: 10px;
  margin: 8px;
  bottom: 0px;
}
