.background {
  position: absolute;
  background-color: #02042d;
  background-image: radial-gradient(#05084f, #07083e, black);
  width: 500px;
  height: 500px;
  z-index: 1;
}

.moon {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  background-color: #e7e8f7;
  border-radius: 50%;
  z-index: 2;
  filter: blur(30);
  box-shadow: 0 0 55px 1px #b2b2ff;
}

.crater1 {
  position: absolute;
  margin-left: 87px;
  margin-top: 0.5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater2 {
  position: absolute;
  margin-left: 110px;
  margin-top: 50px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater3 {
  position: absolute;
  margin-left: 75px;
  margin-top: 30px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater4 {
  position: absolute;
  margin-left: 89px;
  margin-top: 17px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater5 {
  position: absolute;
  margin-left: 90px;
  margin-top: 70px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater6 {
  position: absolute;
  margin-left: 160px;
  margin-top: 150px;
  width: 110px;
  height: 100px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater7 {
  position: absolute;
  margin-left: 185px;
  margin-top: 150px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater8 {
  position: absolute;
  margin-left: 140px;
  margin-top: 140px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater9 {
  position: absolute;
  margin-left: 150px;
  margin-top: 170px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater10 {
  position: absolute;
  margin-left: 170px;
  margin-top: 220px;
  width: 70px;
  height: 40px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater11 {
  position: absolute;
  margin-left: 8px;
  margin-top: 170px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater12 {
  position: absolute;
  margin-left: 27px;
  margin-top: 200px;
  width: 110px;
  height: 60px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater13 {
  position: absolute;
  margin-left: 3px;
  margin-top: 130px;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater14 {
  position: absolute;
  margin-left: 12px;
  margin-top: 176px;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  background-color: #c9cadc;
}

.crater15 {
  position: absolute;
  margin-left: 45px;
  margin-top: 247px;
  width: 70px;
  height: 20px;
  border-radius: 50%;
  background-color: #c9cadc;
}

/* .crater16 {
  position: absolute;
  margin-left: 60px;
  margin-top: 110px;
  width: 50px;
  height: 60px;
  border-radius: 50%;
  background-color: #a2a2b6;
}

.crater17 {
  position: absolute;
  margin-left: 240px;
  margin-top: 90px;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background-color: #a2a2b6;
}

.crater18 {
  position: absolute;
  margin-left: 140px;
  margin-top: 260px;
  width: 60px;
  height: 20px;
  border-radius: 50%;
  background-color: #a2a2b6;
} */

.city {
  position: absolute;
  margin-top: 20px;
  z-index: 1;
  background-color: black;
  width: 500px;
  height: 100px;
  /* box-shadow: 0 0 30px 1px #b2b2ff; */
}

.building1 {
  position: absolute;
  z-index: 0;
  margin-top: -150px;
  margin-left: 10px;
  width: 80px;
  height: 190px;
  background-color: black;
  /* box-shadow: 0 0 55px 1px #b2b2ff; */
}

.building2 {
  position: absolute;
  margin-left: 120px;
  margin-top: -120px;
  width: 40px;
  height: 210px;
  background-color: black;
}

.building3 {
  position: absolute;
  margin-left: 190px;
  margin-top: -100px;
  width: 80px;
  height: 190px;
  background-color: black;
}

.building35 {
  position: absolute;
  margin-left: 230px;
  margin-top: -150px;
  width: 40px;
  height: 210px;
  background-color: black;
}

.building4 {
  position: absolute;
  margin-left: 170px;
  margin-top: -130px;
  width: 40px;
  height: 210px;
  background-color: black;
}

.building5 {
  position: absolute;
  margin-left: 270px;
  margin-top: -50px;
  width: 40px;
  height: 150px;
  background-color: black;
}

.building6 {
  position: absolute;
  margin-left: 330px;
  margin-top: -180px;
  width: 40px;
  height: 250px;
  background-color: black;
}

.building7 {
  position: absolute;
  margin-left: 380px;
  margin-top: -120px;
  width: 40px;
  height: 210px;
  background-color: black;
}

.building8 {
  position: absolute;
  margin-left: 410px;
  margin-top: -50px;
  width: 40px;
  height: 150px;
  background-color: black;
}

.building9 {
  position: absolute;
  margin-left: 450px;
  margin-top: -100px;
  width: 40px;
  height: 210px;
  background-color: black;
}

.building2detail {
  position: absolute;
  margin-left: 135px;
  margin-top: -130px;
  width: 10px;
  height: 210px;
  background-color: black;
}

.building4detail {
  position: absolute;
  margin-left: 229.5px;
  margin-top: -194px;
  border-bottom: 30px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 15px;
  width: 10.5px;
}

.building4detail2 {
  position: absolute;
  margin-left: 248px;
  margin-top: -195px;
  width: 5px;
  height: 210px;
  background-color: black;
}

.building6detail {
  position: absolute;
  margin-left: 335px;
  margin-top: -190px;
  width: 30px;
  height: 210px;
  background-color: black;
}

.building6detail2 {
  position: absolute;
  margin-left: 340px;
  margin-top: -200px;
  width: 20px;
  height: 210px;
  background-color: black;
}
.building6detail3 {
  position: absolute;
  margin-left: 345px;
  margin-top: -240px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid black;
}

.building7detail {
  position: absolute;
  margin-left: 390px;
  margin-top: -130px;
  width: 20px;
  height: 10px;
  background-color: black;
}

.star {
  z-index: 100;
  position: absolute;
  margin-left: 30px;
  margin-top: -300px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}

.star2 {
  z-index: 100;
  position: absolute;
  margin-left: 300px;
  margin-top: -310px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star3 {
  z-index: 100;
  position: absolute;
  margin-left: 390px;
  margin-top: -320px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star4 {
  z-index: 100;
  position: absolute;
  margin-left: 450px;
  margin-top: -270px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star5 {
  z-index: 100;
  position: absolute;
  margin-left: 470px;
  margin-top: -200px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star6 {
  z-index: 100;
  position: absolute;
  margin-left: 240px;
  margin-top: -360px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star7 {
  z-index: 100;
  position: absolute;
  margin-left: 100px;
  margin-top: -330px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star8 {
  z-index: 100;
  position: absolute;
  margin-left: 30px;
  margin-top: -200px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
.star9 {
  z-index: 100;
  position: absolute;
  margin-left: 100px;
  margin-top: -250px;
  width: 2px;
  height: 2px;
  background-color: #91acff;
  box-shadow: 0 0 30px 5px #b2b2ff;
}
