body {
  background-image: url(cloud.jpg);
  font-family: "Playfair Display", serif;
}

.header {
  font-size: 25px;
  margin: -10px;
  background-image: url(search.jpg);
  color: white;
  width: auto;
  padding: 5px;
  text-align: center;
}

#searchTxt {
  font-size: 18px;
}

#searchBtn {
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}
#searchBtn.hover {
  color: white;
  background-color: black;
}

.searchResults {
  color: white;
  margin-top: 20px;
  margin: -10px;
  width: auto;
  display: block;
  text-align: center;
  background-image: url(search.jpg);
}

#tempResult {
  color: black;
  font-size: 20px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 25px;
  margin: -5px;
  background-image: url(search.jpg);
  color: white;
  padding: 5px;
  text-align: center;
}
