.canvas {
  background-color: black;
  border: 5px solid navy;
  position: absolute;
}

.bottom {
  position: relative;
  top: 300px;
}

.keysLocation {
  position: relative;
  bottom: 75px;
  left: 20px;
}

.keys {
  background-color: navy;
  border: 1px solid black;
  color: white;
  font-family: Verdana;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.keys:hover {
  background-color: blue;
}

.score {
  background-color: grey;
  border: 5px solid navy;
}

.round-button {
  width: 60px;
}
.round-button-circle {
  position: relative;
  top: -130px;
  left: 220px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: darkred;
  border: 1px solid black;
}
.round-button-circle:hover {
  background: red;
}
.round-button a {
  float: right;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}
