body {
  margin: 0px;
}

.div1 {
  position: fixed;
  left: 50%;
  top: 15%;
  margin-top: -50px;
  margin-left: -300px;
  width: 600px;
  height: 300px;
  background-color: grey;
  color: white;
}

.div2 {
  position: absolute;
  top: 15%;
  left: 10%;
  margin-left: -10px;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}

.div3 {
  position: absolute;
  top: 15%;
  right: 10%;
  margin-right: -10px;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}
