div {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}
.div1 {
  float: left;
}

.div3 {
  float: right;
}

.div2 {
  position: relative;
  left: 57%;
  display: inline-block;
}
