table {
  border: 1px solid black;
}

thead {
  margin: 5px;
  background-color: #c0c0c0;
}

tr {
  /* padding: 10px; */
}

td {
  table-layout: fixed;
  border-bottom: 1px solid lightgrey;
  display: inline-table;
  vertical-align: middle;
}

img {
  width: 90px;
  height: 60px;
  float: left;
}
