<!DOCTYPE html>
<html>
<link href="/static/style.css"  rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
<a class="header2" id="title"  href="{{ url_for('home') }}"><h2>Search Results</h2></a>
</div>

<ul>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('subpage') }}">Create Blogs</a></li>
  <li><a href="#contact">Contact Us</a></li>
  <li><a href="{{ url_for('authorsPage') }}" method="post">Authors</a></li>
  <div class="search">


  <form action="{{ url_for('search') }}" method="post">

  <button class="searchbutton" type="submit" style="font-family: Courier New, Courier, monospace">Search</button>

  <input type="text" placeholder="Search for a blog..." name="search">
 </form>
  </div>


  <div class="ftop">
     <a href="https://www.facebook.com" class="fa fa-facebook"></a>
     <a href="https://plus.google.com/" class="fa fa-google"></a>
     <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
     <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
    </div>
</ul>

<div class="cardtwo">
  <h2 class="subheader" style="width:95%">Blogs matching your search</h2>
</div>
<div class="cardtwo" id="card1">
   <form action="{{ url_for('searchResult') }}" method="post">
    <button class="pleasework2" id="com1" name="result">Heading</button>
    <input type="text" id="com11" name="blah" style="display: none;">
   </form>
</div>
<div class="cardtwo" id="card2" style="display: none;">
   <form action="{{ url_for('searchResult') }}" method="post">
      <button class="pleasework2" id="com2" name="result">Heading</button>
       <input type="text" id="com22" name="blah" style="display: none;">
   </form>
</div>
  <div class="cardtwo" id="card3" style="display: none;">
    <form action="{{ url_for('searchResult') }}" method="post">
      <button class="pleasework2" id="com3" name="result">Heading</button>
      <input type="text" id="com33" name="blah" style="display: none;">
    </form>
  </div>
  <div class="cardtwo" id="card4" style="display: none;">
    <form action="{{ url_for('searchResult') }}" method="post">
      <button class="pleasework2" id="com4" name="result">Heading</button>
      <input type="text" id="com44" name="blah" style="display: none;">
    </form>
  </div>
  <div class="cardtwo" id="card5" style="display: none;">
    <form action="{{ url_for('searchResult') }}" method="post">
      <button class="pleasework2" id="com5" name="result">Heading</button>
      <input type="text" id="com55" name="blah" style="display: none;">
    </form>
  </div>
  <div class="cardtwo" id="card6" style="display: none;">
    <form action="{{ url_for('searchResult') }}" method="post">
      <button class="pleasework2" id="com6" name="result">Heading</button>
      <input type="text" id="com66" name="blah" style="display: none;">
    </form>
  </div>
</div>
<div class="footer">
   <a href="https://www.facebook.com" class="fa fa-facebook"></a>
   <a href="https://plus.google.com/" class="fa fa-google"></a>
   <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
   <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
  </div>


<script>
result = {{result|tojson}}
authors={{authors|tojson}}
if (result != 0)
{
  ifResult(result)
}
else if (authors!= 0) {
  document.getElementById("title").innerHTML="Authors"
  ifResult(authors)
}
function ifResult(array)
{
  for (i=0;i<array.length;i++)
  {
    var x = "card"+(i+1)
    var y = "com"+(i+1)
    var z = "com"+String(i+1)+String(i+1)
    document.getElementById(x).style.display="block"
    document.getElementById(y).innerHTML=array[i]
    document.getElementById(z).value=array[i]
  }
}
</script>
</html>
