body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 25px;
  background-color: black;
}

.background {
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 90%;
}

#backgroundImg {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.header {
  margin-top: -20px;
  display: inline;
}

.logo {
  width: 12%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

h1 {
  color: white;
  width: auto;
  vertical-align: middle;
  font-size: 80px;
  /* margin-left: 32%;
  margin-top: 130px; */
  text-align: center;
}

.p1 {
  color: white;
  width: auto;
  vertical-align: middle;
  font-size: 30px;
  /* margin-top: -15px;
  margin-left: 32%; */
  text-align: center;
}

#Fill-14 {
  fill: #e50914;
}

#Fill-15 {
  fill: gray;
}

#Fill-16 {
  fill: gray;
}

#Fill-17 {
  fill: gray;
}

.button {
  color: white;
  background-color: #e50914;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  border-radius: 3px;
}

.button1 {
  color: white;
  background-color: #e50914;
  padding: 30px 90px;
  font-size: 32px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
}

.button2 {
  flex: 1;
  color: white;
  background-color: #e50914;
  padding: 15px 45px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  height: 10%;
}

.login {
  float: right;
  margin-right: 20px;
}

.join {
  margin-left: 34%;
  margin-top: 70px;
}

.smallerjoin {
  display: inline-block;
  vertical-align: middle;
}

.details {
  margin: -25px;
  background-color: black;
  height: 400px;
  margin-top: 400px;
}

.footer {
  margin-top: 280px;
  margin-left: -25px;
  margin-right: -25px;
  display: block;
  background-color: black;
  font-weight: 300;
}

table {
  padding: 25px;
  color: gray;
  text-align: center;
  display: table;
  width: 80%;
  margin-left: 10%;
}

.image1 {
  cursor: pointer;
  margin: 10px;
  text-align: center;
  width: 50px;
  margin-left: 45%;
  display: block;
}

.image2 {
  cursor: pointer;
  margin: 10px;
  text-align: center;
  width: 150px;
  margin-left: 32%;
  display: block;
}

.image3 {
  cursor: pointer;
  margin: 10px;
  text-align: center;
  width: 70px;
  margin-left: 40%;
  display: block;
}

.options {
  background-color: #141414;
  border-bottom: 2px solid gray;
}

.cancel {
  cursor: pointer;
  text-align: center;
  width: 10%;
  display: table-cell;
}

.cancel:hover {
  color: white;
  fill: white;
}

#Cancel {
  fill: white;
}

.watch {
  cursor: pointer;
  text-align: center;
  width: 10%;
  display: table-cell;
}

.price {
  cursor: pointer;
  text-align: center;
  width: 10%;
  display: table-cell;
}

.selection {
  margin-top: 50px;
  width: auto;
  background-color: black;
  height: 500px;
  /* margin: -px; */
}

.commit {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.committext {
  flex: 1;
  padding: 100px;
  color: white;
  font-weight: 300;
  font-size: 26px;
  margin-left: 10%;
}

.commitimage {
  display: inline-block;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 2;
  padding: 10px;
  vertical-align: middle;
  margin-left: 10px;
}

.image4 {
  width: 50%;
}

h6 {
  color: #999;
  display: inline-block;
  padding-left: 11.8%;
  box-sizing: border-box;
  vertical-align: middle;
  margin-bottom: 20px;
  width: auto;
  font-size: 15px;
  text-decoration: none;
  font-weight: 200;
}

ul {
  color: #999;
  font-size: 13px;
}

li {
  font-size: 13px;
  display: inline-block;
  width: 20%;
  margin-bottom: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  padding-left: 10%;
}

#First {
}
