body {
  font-family: Arial;
  padding: 20px;
  background-image: url("back.jpg");
}

/* Header/Blog Title */
.header {
  font-family: Courier New, Courier, monospace;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  background: transparent;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

/* Header/Blog Title */
.header2 {
  font-family: Courier New, Courier, monospace;
  padding: 0px;
  font-size: 40px;
  text-align: center;
  background: transparent;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

ul {  
    font-family: Courier New, Courier, monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #112945;
    border-radius: 15px;
    width: 100%;
}

li {
    text-align: centre;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.search input[type=text] {
  float: left;
  padding: 4px;
  margin-top: 8px;
  margin-right: 30px;
  font-size: 17px;
  border: 1px solid #ccc;
  width: 300px;
}

.ftop {
  float: right;
  position: relative;
  top: 0px;    
}


/* Sub-Header to highlight titles */
.subheader {
  font-family: Courier New, Courier, monospace;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 8px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
  background: #112945;
  width: auto;
  height: 40px;
  text-decoration: none;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 67%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 30%;
  padding-left: 10px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}
/* Change the buttons that are being used as links for the headings into looking like headings */
.link{
  
}

/* Add a card effect for articles */
.card {
  border-radius: 25px;
  background-color: #EAF2F8;
  padding: 5px;
  margin-top: 10px;
  width:auto%;
  height:auto;
}

/* Add a card effect for articles */
.cardtwo {
  border-radius: 25px;
  background-color: #EAF2F8;
  padding: 8px;
  margin-top: 10px;
  width:85%;
  height:auto;
}

/* Make title in card a subheader */



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: transparent;
  margin-top: 10px;
}

.fa {
  padding: 20px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  position; relative;
  top: 0px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    float: top;
}

input[type=submit] {
    width: 30%;
    background-color: #112945;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: middle;
    float: top;
}

.searchbutton, button[type=submit] {
    display: block;
    color: white;
    background: #112945;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: centre;
    float: top;
    width: auto;
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    border: none;
}

.searchbutton, button[type=submit]:hover {
    background-color: #111;
}

input[type=submit]:hover {
    background-color: #cccccc;
}

.pleasework {
   color: white;
   background: #112945;
   font-size: 20px;
   font-family: Courier New, Courier, monospace;
   width: 100%;
   float: left;
   text-align: left;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 8px;
   cursor: pointer;
}

.pleasework:hover {
   background-color: #111;
   border: none;
}

.pleasework2 {
   color: white;
   background: #112945;
   font-size: 20px;
   font-family: Courier New, Courier, monospace;
   width: auto;
   float: left;
   text-align: left;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 8px;
   cursor: pointer;
}

.pleasework2:hover {
   background-color: #111;
   border: none;
}


