<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

<form method="post">
  <select name="categories">
      {% for article in articles %}
    <option value="{{ article['category'] }}">{{ article['category'] }}</option>
      {% endfor %}
  </select>
  <br><br>
  <input type="submit">
</form>

{% for category_filtered in category_filtered %}
<h1>
   {{ category_filtered['title'] }}
</h1>
<h2>
   {{ category_filtered['author'] }}
</h2>
<p>
    {{ category_filtered['abstract'] }}
    <br>
    <br>
    <a href="{{ category_filtered['link']}}">{{ category_filtered['link']}}</a>

    <br>
</p>
{% endfor %}
</body>




</html>