body {
  margin: 0px;
}

.div1 {
  position: fixed;
  float: left;
  width: 300px;
  height: 300px;
  background-color: grey;
  color: white;
}

.div2 {
  position: relative;
  top: 27.4%;
  left: 33.3%;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}
