.background {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 350px;
  height: 600px;
  border-radius: 25px;
  border: 5px solid grey;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -470px;
  width: 320px;
  height: 350px;
  border-collapse: collapse;
}

.table2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -135px;
}

button {
  background-color: #333333;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 24px;
  font-family: "Segoe UI";
  font-weight: 100;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.largerButton {
  width: 150px;
  height: 60px;
  border-radius: 25px;
  font-size: 24px;
  font-family: "Segoe UI";
  font-weight: 100;
}

.Operator {
  background-color: #ff9403;
}

.function {
  background-color: #a6a6a6;
  color: black;
}

.input {
  margin-top: -640px;
  text-align: center;
  display: block;
  color: white;
  font-size: 70px;
  font-family: "Orbitron", sans-serif;
  word-wrap: break-word;
}

@media only screen and (max-width: 320px) {
  .background {
    background-color: black;
    width: 300px;
    height: 500px;
  }

  button {
    width: 60px;
  }

  table {
    width: 270px;
    height: 250px;
    margin-top: -370px;
  }

  .largerButton {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 60px;
    margin-right: -5px;
    font-size: 24px;
  }

  .table2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
  }

  .input {
    margin-top: -500px;
  }
}
