.flags-canada {
  height: 130px;
  background: url("images/flags.png") -5px -5px;
  background-repeat: no-repeat;
}

.flags-usa {
  height: 140px;
  background: url("images/flags.png") -5px -143px;
  background-repeat: no-repeat;
}

.flags-mexico {
  height: 150px;
  background: url("images/flags.png") -5px -288px;
  background-repeat: no-repeat;
}
