.button {
  display: block;
  background-color: red;
  border: 1px solid black;
  color: white;
  font-family: "Press Start 2P", cursive;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  position: fixed;
  left: 350px;
  top: 620px;
}

.button:hover {
  background-color: blue;
}

.button:active {
  background-color: blue;
  transform: translateY(4px);
}

.background {
  width: 500px;
  height: 700px;
  border: 3px solid blue;
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: relative;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  color: yellow;
  position: fixed;
  left: 140px;
  top: 30px;
}

.score {
  color: #fff;
  position: fixed;
  left: 15px;
  top: 620px;
}

.livesWords {
  white-space: nowrap;
  color: #fff;
  position: fixed;
  left: 15px;
  top: 655px;
}

.Lives {
  white-space: nowrap;
  position: fixed;
  left: 120px;
  top: 650px;
}
