/* color pallete: https://color.adobe.com/For-animation-color-theme-8144301/ */

/* base fonts */

html,
body {
  color: #2c858d;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-bottom: 15px;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 275%;
}

h3 {
  font-size: 250%;
}

h4 {
  font-size: 225%;
}

h5 {
  font-size: 200%;
}

h6 {
  font-size: 175%;
}

p {
  color: #74ceb7;
  font-size: 150%;
  line-height: 140%;
  margin-bottom: 10px;
  text-align: justify;
}

/* primary nav */

header {
  background: #70dbdb;
  border-bottom: 3px solid #00c5cd;
  height: 75px;
  margin-bottom: 25px;
  padding: 0 5%;
}

h2 {
  background: url(../images/angry-cat.jpg) no-repeat;
  background-size: cover;
  border: 3px solid #00c5cd;
  border-radius: 50%;
  float: left;
  height: 50px;
  margin-top: 12px;
  text-indent: -99999px;
  width: 50px;
}

.main-nav {
  float: right;
  padding-top: 15px;
}

.main-nav li {
  display: inline-block;
  margin: 15px 10px 0;
}

.main-nav a {
  color: white;
  font-size: 110%;
  text-decoration: none;
}

.main-nav a:hover {
  border-bottom: 4px solid #00e5ee;
}

/* body content */

.container {
  width: 90%;
  margin: 0 auto;
}

.container,
.main-content,
.secondary-content {
  height: 100%;
}

.main-content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  height: 100%;
}

.hero-img {
  border-radius: 10px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  padding: 7%;
}

.secondary-content {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

/* main content */

.main-content p {
  display: inline-block;
  width: auto;
}

/* secondary content */

.secondary-content {
  border-left: 2px solid #ffdceb;
  text-align: center;
  width: 24%;
}

.secondary-content li,
.secondary-content p {
  font-size: 140%;
  line-height: 160%;
}

.secondary-content ul {
  border-top: 2px solid #7ebf9c;
  border-bottom: 2px solid #7ebf9c;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 0;
}

.secondary-content li {
  color: #8dd6af;
}

.secondary-content h3,
.secondary-content p {
  color: #7ebf9c;
  font-weight: 800;
}

.aside-img {
  border: 5px solid #8dd6af;
  border-radius: 50%;
  display: inline-block;
  height: 20%;
  width: 20%;
}

/* footer */

footer {
  background: #1e90ff;
  height: auto;
}

footer ul {
  max-width: 697px;
  margin: auto;
}

footer img {
  width: 25px;
  margin: 10px;
}

footer p {
  color: white;
}

.three-column {
  background: #42c0fb;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 100px;
  margin: 10px;
  width: 200px;
  vertical-align: top;
}

li.three-column {
  padding: 5px;
  text-align: unset;
}

input {
  border-radius: 10px;
  border: 3px solid #8dd6af;
  height: 15px;
  margin-bottom: 5px;
  width: 50%;
}

.btn {
  width: 50%;
  padding: 3px;
  color: white;
  background: #3299cc;
  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    height: 100%;
  }
}
