.canvas {
  margin: auto;
  background-color: black;
  border: 5px solid navy;
  position: absolute;
  width: 400px;
  height: 500px;
}

.Totalscore {
  position: relative;
  z-index: 100;
  color: white;
  font-size: 16px;

  left: 10px;
  top: 10px;
  font-family: Verdana;
}

.Lives {
  position: relative;
  top: -25px;
  z-index: 100;
  color: white;
  left: 300px;
  font-size: 16px;

  font-family: Verdana;
}
.Lives2 {
  position: relative;
  top: -180px;
  z-index: 100;
  color: white;
  left: 110px;
  font-size: 32px;
  font-family: Verdana;
}

.resetbutton {
  position: relative;
  top: -180px;
  z-index: 100;
  color: white;
  left: 140px;
  font-size: 26px;
  font-family: Verdana;
  background: darkred;
  padding: 25px 30px;
}

.resetbutton:hover {
  background-color: red;
}

.intro {
  position: relative;
  top: -180px;
  z-index: 100;
  color: white;
  left: 130px;
  font-size: 32px;
  font-family: Verdana;
}

.playbutton {
  position: relative;
  top: -180px;
  z-index: 100;
  color: white;
  left: 110px;
  font-size: 26px;
  font-family: Verdana;
  background: darkred;
  padding: 25px 30px;
  /* width: 140px; */
}

.score {
  position: relative;
  top: 500px;
  width: 400px;
  height: 150px;
  background-color: grey;
  border: 5px solid navy;
}

.bottom {
  position: relative;
  top: -63px;
}

.keysLocation {
  position: relative;
  top: 380px;
  left: 20px;
}

.keys {
  background-color: navy;
  border: 1px solid black;
  color: white;
  font-family: Verdana;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.keys:hover {
  background-color: blue;
}

.round-button {
  width: 60px;
}
.round-button-circle {
  position: relative;
  top: 310px;
  left: 280px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: darkred;
  border: 1px solid black;
}
.round-button-circle:hover {
  background: red;
}
.round-button a {
  float: right;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}
