body {
  margin: 0px;
}

.div1 {
  position: relative;
  left: 38%;
  top: 50px;
  width: 300px;
  height: 300px;
  background-color: grey;
  color: white;
}

.div2 {
  position: absolute;
  top: 15%;
  left: 16%;
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}
